/*
|---------------------------------------------------------------------
| Chatboxes
|---------------------------------------------------------------------
*/

.chatbox {
    width: 75%;
    border: 1px solid #e6e7e8;
    overflow: hidden;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 3px;
}

.chatbox-left {
    /* Placeholder */
}

.chatbox-right {
    margin-left: 25%;
}
