/*
|---------------------------------------------------------------------
| Contextual Colors
|---------------------------------------------------------------------
*/

// Type

.text-purple {
    color: #495899;
}

.text-mild-blue {
    color: #008ec6;
}

.text-teal {
    color: #3cbdc4;
}

.text-seafoam {
    color: #80ccb3;
}

.text-coral {
    color: #ef6e62;
}

.text-sandy-brown {
    color: #e4b374;
}

.text-deep-blue {
    color: #176eb4;
}

.text-sky-blue {
    color: #49ade0;
}

.text-cadet-blue {
    color: #74ceda;
}

.text-sea-green {
    color: #b9d89f;
}

.text-gray {
    color: #bec0c2;
}

.text-muted {
    color: #808285;
}

// Backgrounds

.purple,
.mild-blue,
.teal,
.seafoam,
.coral,
.sandy-brown,
.deep-blue,
.sky-blue,
.cadet-blue,
.sea-green,
.gray {
    color: #fff;
}

.purple {
    background-color: #495899;
}

.mild-blue {
    background-color: #008ec6;
}

.teal {
    background-color: #3cbdc4;
}

.seafoam {
    background-color: #80ccb3;
}

.coral {
    background-color: #ef6e62;
}

.sandy-brown {
    background-color: #e4b374;
}

.deep-blue {
    background-color: #176eb4;
}

.sky-blue {
    background-color: #49ade0;
}

.cadet-blue {
    background-color: #74ceda;
}

.sea-green {
    background-color: #b9d89f;
}

.gray {
    background-color: #bec0c2;
}

// Borders

.border-purple {
    border: 1px solid #495899;
}

.border-mild-blue {
    border: 1px solid #028cc5;
}

.border-teal {
    border: 1px solid #3cbdc4;
}

.border-seafoam {
    border: 1px solid #80ccb3;
}

.border-coral {
    border: 1px solid #ef6e62;
}

.border-sandy-brown {
    border: 1px solid #e4b374;
}

.border-deep-blue {
    border: 1px solid #176eb4;
}

.border-sky-blue {
    border: 1px solid #49ade0;
}

.border-cadet-blue {
    border: 1px solid #74ceda;
}

.border-sea-green {
    border: 1px solid #b9d89f;
}

.border-gray {
    border: 1px solid #bec0c2;
}
