/*
|---------------------------------------------------------------------
| Variables
|---------------------------------------------------------------------
*/

$header-font-medium: 'Sackers-Gothic-Medium', sans-serif;

$base-font-light: 'Gibson-Light', sans-serif;
$base-font-regular: 'Gibson-Regular', sans-serif;
$base-font-semibold: 'Gibson-SemiBold', sans-serif;
