<div class="navbar">
    <h2 class="navbar-title">
        <span class="text-purple">Thank you for your order!</span>
    </h2>
</div>

<div class="padding-20">
	<p class="text-bold text-center">Your Job Number: {{job.job_number}}</p>
    <p class="text-center">We will be in touch with you shortly. You will receive an alert on your phone once your quote is ready, as well as an email if you have signed up for email alerts. We may need to message you in the meantime for more information.</p>
    <p class="text-purple text-center margin-bottom-20" ng-click="onViewQuote()">VIEW QUOTE</p>

	<div class="panel" ng-show="showDetails">
        <div class="form-group">
            <label class="text-purple">Metal Type:</label>

            <if ng-if="job.metal_type_ids.length == 0">None selected</if>

            <ul class="list-unstyled" ng-repeat="metal in job.metal_type_ids">
                <li>{{ metal | metalDesc }}</li>
            </ul>
        </div>

        <div class="form-group">
            <label class="text-purple">Stone Type:</label>

            <if ng-if="job.stones.length === 0">None selected</if>

            <ul class="list-unstyled" ng-repeat="stone in job.stones">
                <li>{{ stone | stoneDesc }}</li>
            </ul>
        </div>

        <div class="form-group">
            <label class="text-purple">Carat (Size):</label>
            <if ng-if="job.carat.length == 0">None selected</if>
            {{ job.carat }}
        </div>

        <div class="form-group">
            <label class="text-purple">Budget Range:</label>
            {{ getBudgetString(job.budget) }}
        </div>

        <div class="form-group">
            <label class="text-purple">Deadline:</label>
            <if ng-if="job.deadline.length == 0">None selected</if>
            {{ job.deadline | date }}
        </div>

        <div class="form-group">
            <label class="text-purple">State:</label>
            <if ng-if="job.ship_to_state.length == 0">None selected</if>
            {{ job.ship_to_state }}
        </div>

        <div class="form-group">
            <label class="text-purple">Notes:</label>
            <if ng-if="job.notes == ''">None provided</if>
            {{ job.notes }}
        </div>
    </div>

    <a ng-click="onNewQuote()" href="#/jobs/create/start" class="btn btn-block btn-default text-purple">
       Start a New Quote
    </a>
</div>
