<h1 class="page-title sky-blue">About OOD</h1>

<div class="padding-20">
    <h2 class="text-sky-blue">About Ocean of Diamonds</h2>

    <p>Oceans of Diamonds was established in 1992, and it's still family owned and operated.</p>

    <p>What makes Oceans of Diamonds unique is that we provide you exceptionally beautiful jewelry by your design. You tell us what you want, and we will deliver, complete with exceptionally high quality diamonds and labor. We are known for our amazing designs and unmatched customer service. Your 100% satisfaction is our number one priority.</p>

    <p>Our continuing success is the result of operating with honesty and integrity for 21 years. As an owner of this amazing company, that has delighted thousands of customers, I give you my personal guarantee.</p>

    <p>
        <span class="text-gibson-regular">Sal Mardo</span>
        <br> Owner &amp; CEO
    </p>
</div>
