<h1 class="page-title deep-blue">Diamond Education</h1>

<div class="padding-20">
	<h2 class="text-deep-blue">Diamond Education</h2>

	<p>Gemological Institute of America (GIA) and EGL USA Gemological Laboratory (EGL) are the gold standard in diamond grading. At Ocean of Diamonds, we only sell diamonds for engagement rings that are GIA and/or EGL certified. Their reports detail key characteristics of each diamond. By only using diamonds in engagement rings that have been independently certified can you be sure that they natural diamonds, that have not been colored or enhanced, or are made from synthetic material. A GIA or EGL diamond certificate assures the value and quality of your diamond, and we include a certificate with each engagement ring diamond we ship.</p>

	<h2 class="text-deep-blue">The 4 C's to Diamond Rating</h2>

	<h3 class="text-deep-blue">Cut</h3>

	<p>A diamond's cut determines how effectively it returns light to the viewer's eye: a well-cut diamond appears brilliant and fiery, while poorly cut stones look dark and lifeless. Well-cut diamonds often appear larger than stones of the same carat weight.</p>

	<h3 class="text-deep-blue">Clarity</h3>

	<p>Diamonds usually include either internal inclusions or external blemishes, and a diamond's clarity refers to the absence of these. The GIA Clarity Scale contains 11 grades.</p>

	<h3 class="text-deep-blue">Color</h3>

	<p>The less color, the higher a diamond’s value. The scale begins with the letter D, representing colorless, and continues with increasing presence of color to the letter Z, or light yellow or brown. Each letter grade has a clearly defined range of color appearance.</p>

	<h3 class="text-deep-blue">Carat Weight</h3>

	<p>A carat is the unit of weight by which a diamond is measured. Because large diamonds are found less commonly than small diamonds, the price of a diamond rises exponentially to its size.</p>
</div>
<!-- /.padding-20 -->
