<h1 class="page-title cadet-blue">Return Policy</h1>

<div class="padding-20">
	<h2 class="text-cadet-blue">General Return Policy</h1>

	<p>We care about your satisfaction and stand behind every item we sell. Since every order is different, a Specific Return Policy applies to every order. You will be notified of the Specific Return Policy before submitting the order, and if full refund applies. Restrictions apply. Please contact our Customer Service Department on <a href="tel:732-855-9353">732-855-9353</a> for more information.</p>

	<h3 class="text-cadet-blue">Special orders</h3>
	<p><span class="underline">SPECIAL ORDERS CANNOT BE RETURNED.</span> A PIECE THAT INCLUDES SPECIFIC PERSONALIZATION INCLUDING INITIALS, ENGRAVING, NAMES, CHARACTERS OR OTHER EMBELLISHMENT THAT IS PERSONALIZED CAN NOT BE RETURNED. AN UNMARKED RING PLUS CENTER DIAMOND THAT WE MOUNT TOGETHER IS NOT CONSIDERED A SPECIAL ORDER.</p>

	<h3 class="text-cadet-blue">How to Return</h3>
	<p>In order to process a return, contact our Customer Service Department on <a href="tel:732-855-9353">732-855-9353</a>. The goods to be returned must be mailed and postmarked within 10 days of receipt of your goods for a return to be honored. Additional Terms &amp; Conditions:</p>

	<p>Write the order number clearly on the return label that was included with the original order from Ocean of Diamonds. Place your item into any standard brown box. If the value of your package is $500 or less, send your item using First Class Mail with insurance. If your item is valued above $500, use Registered Mail with insurance. The cost to ship your item with insurance will range from $5–$25. Return to:</p>

	<h3 class="text-cadet-blue">Return Department</h3>
	<p>Ocean of Diamonds<br>
	The Jewelry Exchange<br>
	1 Woodbridge Center<br>
	Woodbridge, NJ 07095</p>

	<p>Your item should arrive in our office in 2-7 days from posting, depending on your location. All refunds will be processed within 5 days and done in the form of the original purchase method. Bank wires are refunded via company check.</p>

	<h3 class="text-cadet-blue">Improperly Packaged Items</h3>
	<p>Items sent to our office without a return number, packages shipped or postmarked beyond the 10 day return period, and packages that are improperly packaged or uninsured will be refused receipt.</p>

	<h3 class="text-cadet-blue">Resizing</h3>
	<p>We understand rings may need to be resized, and that is why we include free resizing on every ring order. Please follow the return instructions above, and follow the instructions on your delivery slip.</p>

	<h2 class="text-cadet-blue">Additional Terms &amp; Conditions</h1>

	<h3 class="text-cadet-blue">Improperly Packaged Items</h3>
	<p>Items sent to our office without the original order number, packages shipped beyond the 30-day return period, and packages that are improperly packaged or uninsured will be refused receipt.</p>

	<h3 class="text-cadet-blue">Damaged and Used Items</h3>
	<p>Returned merchandise must be undamaged and in a new and unused condition. Items showing obvious signs of wear, or alteration by a jeweler other than Ocean of Diamonds, will not be accepted.</p>

	<h3 class="text-cadet-blue">Loose Diamonds</h3>
	<p>Loose diamonds must be accompanied by the original laboratory grading report or a $150 charge will be assessed to replace the certificate.</p>

	<h3 class="text-cadet-blue">Upgrades</h3>
	<p>Upgrades are available. Please contact our Customer Service Department on <a href="tel:732-855-9353">732-855-9353</a> for more information.</p>

	<h3 class="text-cadet-blue">Remodelling Jewelry</h3>
	<p>For remodeling, you may use your own diamonds. Please contact our Customer Service Department on <a href="tel:732-855-9353">732-855-9353</a> for more information.</p>

	<h3 class="text-cadet-blue">Statuatory Rights</h3>
	<p>This policy does not infringe on your customer statuatory rights.</p>
</div>
